# === Java ===
*.class
*.log
*.tmp
*.out
*.bak

# === Maven ===
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === VSCode ===
.vscode/

# === Build / JUnit / Gradle reports ===
**/build/
**/reports/
**/test-output/

# === Allure ===
.allure/
allure-results/
allure-report/
**/target/site/allure-maven-plugin/

# === System files ===
.DS_Store
Thumbs.db

# === Environment / configs ===
.env
